<form class="newsletter-form" action="https://j2knyc.us19.list-manage.com/subscribe/post?u=1971ca4387d4d8017cee89920&amp;id=94c74ba4a0" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <label class="newsletter-form__label">
    <span class="screen-reader-text">Email address (required):</span>
    <input type="email" name="EMAIL" placeholder="Email" class="newsletter-form__email" required>
  </label>
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1971ca4387d4d8017cee89920_94c74ba4a0" tabindex="-1" value=""></div>
  <button type="submit" class="newsletter-form__submit" name="subscribe">
    Submit
  </button>
</form>
