<header class="page-header
{% if current.fields.header.header_img %}
has-background
{% endif %}
">
  <div class="page-header__margins">
    {% if current.fields.header.header_img %}
    <figure class="page-header__figure">
      <img class="page-header__img" src="{{ current.fields.header.header_img.url }}" alt="{{ current.fields.header.alt_text }}">
    </figure>
    {% endif %}
    <h1 class="page-header__title">
      {{ current.name }}
    </h1>
    <div class="page-header__content">
      {% block headercontent %}{% endblock %}
    </div>
  </div>
</header>
