{% extends 'base.html' %}

{% import 'template-parts/blocks/wysiwyg.html' as wysiwyg %}
{% import 'template-parts/blocks/gallery.html' as gallery %}
{% import 'template-parts/blocks/separator.html' as separator %}
{% import 'template-parts/blocks/fullimage.html' as fullimage %}
{% import 'template-parts/blocks/newsletter.html' as newsletter %}

{% block title %}{{ current.name }}{% endblock %}

{% block content %}
<article>
  {% include "template-parts/pageheader-default.html" %}

  <div class="content-margins content-container">
    <p>Hello, world!</p>
  </div>
</article>
{% endblock %}
