{% extends 'base.html' %}

{% import 'template-parts/blocks/gallery.html' as gallery %}
{% import 'template-parts/blocks/newsletter.html' as newsletter %}

{% block title %}{{ current.name }}{% endblock %}

{% block content %}
<article>
  {% include "template-parts/pageheader-floor.html" %}

  {%if current.fields.gallery.images|length > 0 %}
  <div class="content-margins content-container">
    {{ gallery.render( current.fields.gallery ) }}
  </div>
  {% endif %}
</article>
<div class="content-margins content-container">
  {{ newsletter.render('Lorem ipsum') }}
</div>
{% endblock %}
