<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Powered by BentoBox -->
  <!-- Powered by BentoBox -->
  <!-- Powered by BentoBox -->

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - {{ account.site.title }}</title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://use.typekit.net/bdb5uvg.css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ static('js/slick/slick.css') }}">
  <link rel="stylesheet" href="{{ static('css/normalize.css') }}">
  <link rel="stylesheet" href="{{ static('css/style.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" href="{{ account.site.favicon }}">

  <!-- SEO, etc
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% if current.fields.SEO.title %}
    <meta property="og:title" content="{{current.fields.SEO.title}}" />
    <meta name="twitter:title" content="{{current.fields.SEO.title}}">
  {% elif current.meta_title %}
    <meta property="og:title" content="{{current.meta_title}}" />
    <meta name="twitter:title" content="{{current.meta_title}}">
  {% else %}
    <meta property="og:title" content="{{current.name}} - {{ account.site.title }}" />
    <meta name="twitter:title" content="{{current.name}} - {{ account.site.title }}">
  {% endif %}

  {% if current.fields.SEO.description %}
    <meta property="og:description" content="{{current.fields.SEO.description}}" />
    <meta name="twitter:description" content="{{current.fields.SEO.description}}">
  {% else %}
    {% if current.box_type == "restaurant" %}
      <meta property="og:description" content="{{current.fields.home_description}}" />
      <meta name="twitter:description" content="{{current.fields.home_description}}">
    {% else %}
      {% if current.fields.dek %}
        <meta property="og:description" content="{{current.fields.dek}}" />
        <meta name="twitter:description" content="{{current.fields.dek}}">
      {% elif current.meta_description %}
        <meta property="og:description" content="{{current.meta_description}}" />
        <meta name="twitter:description" content="{{current.meta_description}}">
      {% else %}
        <meta property="og:description" content="{{account.site.meta_description}}" />
        <meta name="twitter:description" content="{{account.site.meta_description}}">
      {% endif %}
    {% endif %}
  {% endif %}

  <meta property="og:type" content="website" />

  {% if current.fields.SEO.image.url %}
    <meta property="og:image" content="{{current.fields.SEO.image.url}}" />
    <meta name="twitter:image" content="{{current.fields.SEO.image.url}}">
  {% else %}
    <meta property="og:image" content="{{static('img/logo.png')}}" />
    <meta name="twitter:image" content="{{static('img/social-img.png')}}">

  {% endif %}

  {% if current.fields.SEO.keywords %}
    <meta property="keywords" content="{{current.fields.SEO.keywords}}" />
  {% else %}
    <meta property="keywords" content="{{account.site.meta_keywords}}" />
  {% endif %}

</head>
{% set template = current.template.split('.')|join('-') %}
<body class="page-{{ current.slug }} template-{{ template.split('/')|join('-') }}">
  <div id="page" class="container">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    <header class="site-header">
      <div class="site-header__container">
        {% if current.slug == 'index' %}
        <div class="homepage-building-scroll" aria-role="presentation">
          <img src="{{ static('img/HP_Building_grey.png') }}" alt="">
          <span class="homepage-building-scroll__sizer">
            <img src="{{ static('img/HP_Building_peach.png') }}" alt="">
          </span>
        </div>
        <div class="homepage-building-scroll__floor" aria-role="presentation">
          Flr <span class="homepage-building-scroll__floor-num">01</span>
        </div>
        <div class="site-header__push">

        </div>
        {% endif %}
        <nav class="site-header__nav">
          {% if navs.side|length != 0 %}
          <ul class="site-header__nav__list">
            {% for item in navs.side %}
              <li class="site-header__nav__list-item">
                <a class="site-header__nav__list-item__link
                {% if item.slug == current.slug %}
                active
                {% endif %}
                " href="{{ item.url }}">{{ item.name }}</a>
              </li>
            {% endfor %}
          </ul>
          {% endif %}
        </nav>
        <button class="pull-out__toggle" type="button" aria-expanded="false" aria-controls="pull-out">
          <span class="screen-reader-text">Menu</span>
          {% include "svg/hamburger.html" %}
        </button>
        <div class="pull-out__background" aria-role="presentation" aria-hidden="true">
          {% if theme.options.navigation.backgrounds.bg %}
          <img class="pull-out__background__img" src="{{ theme.options.navigation.backgrounds.bg.url }}" alt="{{ theme.options.navigation.backgrounds.bg.alt_text }}">
          {% endif %}
          {% if theme.options.navigation.backgrounds.hover_images|length > 0 %}
          <div class="pull-out__background__hover">
            {% for bg in theme.options.navigation.backgrounds.hover_images %}
            <img class="pull-out__background__img hover" src="{{ bg.img.url }}" alt="{{ bg.img.alt_text }}">
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="pull-out" id="pull-out">
        <div class="pull-out__container">
          <div class="pull-out__margins">
          <p class="pull-out__branding">
            <a href="{{ account.site.url }}" class="pull-out__branding-link" rel="home">
              {% include "svg/logo.html" %} <span class="screen-reader-text">Home</span>
            </a>
          </p>
          <div class="pull-out__left">
            <nav class="pull-out__nav">
              {% if navs.main|length != 0 %}
              <ul class="pull-out__nav__list">
                {% for item in navs.main %}
                  <li class="pull-out__nav__list-item">
                    <a class="pull-out__nav__list-item__link" href="{{ item.url }}">{{ item.name }}</a>
                  </li>
                {% endfor %}
              </ul>
              {% endif %}
            </nav>
          </div>
          <div class="pull-out__right">
            {% if theme.options.navigation.location.address_1 or theme.options.navigation.location.address_2 or theme.options.navigation.location.address_3 %}
            <h2 class="pull-out__title">
              Location
            </h2>
            <address class="pull-out__address">
              {% if theme.options.navigation.location.address_1 %}
              <span>
                <span>
                  {{ theme.options.navigation.location.address_1 }}<br/>
                </span>
              </span>
              {% endif %}
              {% if theme.options.navigation.location.address_2 %}
              <span>
                <span>
                  {{ theme.options.navigation.location.address_2 }}<br/>
                </span>
              </span>
              {% endif %}
              {% if theme.options.navigation.location.address_3 %}
              <span>
                <span>
                  {{ theme.options.navigation.location.address_3 }}<br/>
                </span>
              </span>
              {% endif %}
            </address>
            {% endif %}
            {% if theme.options.navigation.hours|length > 0 %}
            <h2 class="pull-out__title">
              Hours
            </h2>
            <ul class="pull-out__hours">
              {% for schedule in theme.options.navigation.hours %}
                <li class="pull-out__hours-item">
                  <span><span>{{ schedule.days }}</span></span> <span><span>{{ schedule.hours }}</span></span>
                </li>
              {% endfor %}
            </ul>
            {% endif %}
            <div class="pull-out__desktopfooter">
              {% include "template-parts/pullout-footer.html" %}
            </div>
          </div>
          <div class="pull-out__mobilefooter">
            {% include "template-parts/pullout-footer.html" %}
          </div>
        </div>
        </div>
      </div>
    </header>

    <div class="content-div">
      {% if current.slug != 'index' %}
      <div class="mobilestickynav">
        <div class="mobilestickynav__sticky">
          <nav class="site-header__nav">
            {% if navs.side|length != 0 %}
            <ul class="site-header__nav__list">
              {% for item in navs.side %}
                <li class="site-header__nav__list-item">
                  <a class="site-header__nav__list-item__link
                  {% if item.slug == current.slug %}
                  active
                  {% endif %}
                  " href="{{ item.url }}">{{ item.name }}</a>
                </li>
              {% endfor %}
            </ul>
            {% endif %}
          </nav>
        </div>
      </div>
      {% endif %}
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    {% if theme.options.popup.active %}
    <aside class="modal-area" data-delay="5000" data-propid="{{ theme.options.popup.propid }}">
      <div class="modal-area__container">
        <button class="modal-area__dismiss">
          {% include "svg/close.html" %}
          <span class="screen-reader-text">Dismiss</span>
        </button>
        <div class="modal-area__accent">
          {% include "svg/mark.html" %}
        </div>
        <div class="modal-area__container__inner">
          {% if theme.options.popup.title %}
          <h2 class="modal-area__title">
            {{ theme.options.popup.title }}
          </h2>
          {% endif %}
          {% if theme.options.popup.content %}
          <div class="modal-area__content">
            {{ theme.options.popup.content }}
          </div>
          {% endif %}
          {% if theme.options.popup.link.url %}
          <div class="bblock-button">
            <a class="bblock-button__link" href="{{ theme.options.popup.link.url }}"
            {% if theme.options.popup.link.target %}
            target="_blank"
            {% endif %}
            >
              {{ theme.options.popup.link.title }}
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </aside>
    {% endif %}

    {% if current.slug == 'index' %}
    <div class="desktop-footer-hide">
    {% endif %}
    <footer class="site-footer">
      <div class="container-margins site-footer__container">
        <div class="site-footer__left">
          <p class="site-footer__branding">
            <a href="{{ account.site.url }}" class="site-footer__branding-link" rel="home">
              {% include "svg/logo.html" %} <span class="screen-reader-text">Home</span>
            </a>
          </p>
        </div>
        <div class="site-footer__right">
          {% if theme.options.footer.blurb %}
          <div class="site-footer__blurb">
            {{ theme.options.footer.blurb }}
          </div>
          {% endif %}
          <nav class="site-footer__nav">
            {% if navs.footer|length != 0 %}
            <ul class="site-footer__nav__list">
              {% for item in navs.footer %}
                <li class="site-footer__nav__list-item">
                  <a class="site-footer__nav__list-item__link" href="{{ item.url }}">{{ item.name }}</a>
                </li>
              {% endfor %}
              {% if theme.options.navigation.socials.instagram %}
              <li class="site-footer__nav__list-item">
                <a class="site-footer__nav__list-item__link" href="{{ theme.options.navigation.socials.instagram }}" target="_blank">
                  {% include "svg/instagram.html" %}
                  <span class="screen-reader-text">Find Saga on Instagram</span>
                </a>
              </li>
              {% endif %}
            </ul>
            {% endif %}
          </nav>
          {% if theme.options.footer.copyright %}
          <div class="site-footer__trampstamp">
            {{ theme.options.footer.copyright }}
          </div>
          {% endif %}
        </div>
      </div>
    </footer>
    {% if current.slug == 'index' %}
    </div>
    {% endif %}
</div>

{% if current.slug == 'index' %}
<script type="text/javascript">
  if (window.matchMedia("(min-width: 768px)").matches) {
    window.scrollTo(0,document.body.scrollHeight);
  }
  window.addEventListener('load', function(){
    if (window.matchMedia("(min-width: 768px)").matches) {
      window.scrollTo(0,document.body.scrollHeight);
    }
  });
</script>
{% endif %}

<script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
<script src="{{ static('js/slick/slick.min.js') }}"></script>
<script src="{{ static('js/scripts.js') }}"></script>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</body>
</html>
