{% extends 'base.html' %}

{% block content %}
<div class="row">
  <h3>This is a page that shows links to all menus</h3>
</div>

<div class="row">
  {% for menu in boxes.menus.all %}
  <div class="two columns">
    <h6><a href="{{ menu.url }}">{{ menu.name }}</a></h6>
  </div>
  {% endfor %}
  {% if boxes.menus.all|length == 0 %}
  <em>Add menus to see links to the individual menu pages</em>
  {% endif %}
</div>

<div class="row">
  <div class="six columns">
    <strong>This is an additional section that appears only on this page.</strong><br>
    {% if current.fields.prepared.image %}
      <img src="{{ current.fields.prepared.image }}" />
    {% else %}
    <em>Go to Pages/Nav > Menus to add content here</em>
    {% endif %}

    {{ current.fields.prepared.description }}
  </div>
</div>



{% endblock %}