{% extends 'base.html' %}

{% import 'template-parts/blocks/newsletter.html' as newsletter %}
{% import 'forms.html' as forms with context %}

{% block title %}{{ current.name }}{% endblock %}

{% block content %}
<article>
  {% include "template-parts/pageheader-default.html" %}

  <div class="content-margins content-container">
    {% if current.fields.reservations.reservations|length > 0 %}
    {% for item in current.fields.reservations.reservations %}
    <div class="saga-res__container">
      <div class="saga-bordered-title-box__title saga-res__title">
        <h2 class="saga-bordered-title-box__title__text saga-res__title__text">
          Reservations <span>{{ item.title }}</span>
        </h2>
      </div>
      <div class="saga-res saga-bordered-title-box">
        <div class="saga-res__section">
          <h3 class="saga-res__subhead">Call Us</h3>
          <p>{{ item.phone }}</p>
        </div>
        <div class="saga-res__section">
          <h3 class="saga-res__subhead">Reserve Online</h3>
          <div class="bblock-button">
            <a class="bblock-button__link" href="{{ item.link.url }}"
            {% if item.link.target %}
            target="_blank"
            {% endif %}
            >
              {{ item.link.title }}
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}

    <div class="saga-bordered-title-box__title saga-form__title">
      <h2 class="saga-bordered-title-box__title__text saga-form__title__text">
        Private Dining Inquiry <span>Floor 62 &amp; 66</span>
      </h2>
    </div>
    <div class="saga-bordered-title-box saga-form">
    {% call forms.email_form("info") %}
      <div class="saga-form__2col">
        <label class="saga-form__input">
          <span class="saga-form__input__label">First Name*</span>
          <input class="saga-form__input__textinput" type="text" name="fname" placeholder="Your First Name" required>
        </label>
        <label class="saga-form__input">
          <span class="saga-form__input__label">Last Name*</span>
          <input class="saga-form__input__textinput" type="text" name="lname" placeholder="Your Last Name" required>
        </label>
      </div>
      <label class="saga-form__input">
        <span class="saga-form__input__label">Email*</span>
        <input class="saga-form__input__textinput" type="email" name="email" placeholder="Your Email" required>
      </label>
      <div class="saga-form__2col">
        <label class="saga-form__input">
          <span class="saga-form__input__label">Phone Number*</span>
          <input class="saga-form__input__textinput" type="text" name="phone" placeholder="Your Phone Number" required>
        </label>
        <label class="saga-form__input">
          <span class="saga-form__input__label">Date*</span>
          <input class="saga-form__input__dateinput" type="date" name="date" required>
        </label>
      </div>
      <div class="saga-form__2col">
        <label class="saga-form__input">
          <span class="saga-form__input__label">Time*</span>
          <input class="saga-form__input__timeinput" type="time" name="time" required>
        </label>
        <label class="saga-form__input">
          <span class="saga-form__input__label">Number of Guests*</span>
          <input class="saga-form__input__textinput" type="text" name="guests" placeholder="Number of Guests" required>
        </label>
      </div>
      <label class="saga-form__input">
        <span class="saga-form__input__label">Event Purpose*</span>
        <input class="saga-form__input__textinput" type="text" name="purpose" placeholder="Business, personal, etc." required>
      </label>
      <label class="saga-form__input">
        <span class="saga-form__input__label">Additional Information</span>
        <textarea class="saga-form__input__textarea" name="info" placeholder="Anything else you'd like us  to know."></textarea>
      </label>
      <div class="bblock-button">
        <button class="bblock-button__link" type="submit">
          Submit
        </button>
      </div>
    {% endcall %}
    </div>

    {{ newsletter.render('Lorem ipsum') }}
  </div>
</article>
{% endblock %}
