.newsletter-block {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  @include container-margins;
  margin-top: 9rem;
  margin-bottom: 9rem;
  @include for-size(mobile) {
    margin-top: 5rem;
    margin-bottom: 5rem;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  &__left {
    @include flex(4,0,0);
    position: relative;
    @include for-size(mobile) {
      @include flex(1,1,auto);
      width: calc(100% - 4rem);
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 104%;
      }
    }
    img {
      position: absolute;
      left: 0;
      top: 1.6rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include for-size(mobile) {
        top: 0;
      }
    }
  } &__right {
    @include flex(5,0,0);
    position: relative;
    padding: 3.2rem 4.8rem;
    @include for-size(mobile) {
      @include flex(1,1,auto);
      padding: 3rem;
      margin-bottom: -1.6rem;
      width: 100%;
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: calc(100% + 2rem);
      height: 100%;
      border: 1px solid rgba($peach, 0.4);
      pointer-events: none;
      @include for-size(mobile) {
        width: 100%;
      }
    }
  }

  &__cta {
    @include h4-style;
  }

  &__container {
    @include full-width-in-content;
  }
}

.newsletter-form {
  &:not(.condensed) {
    .newsletter-form {
      &__email {
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba($offwhite, 0.4);
        font-size: 2.0rem;
        font-weight: 300;
        letter-spacing: 0.25rem;
        line-height: 2.6rem;
        padding-bottom: 0.8rem;
        transition: 300ms $bezier;
        &:focus {
          border-bottom-color: $offwhite;
        }
      }
      &__submit {
        @include button-style;
        background: transparent;
        margin: 0 auto;
        margin-top: 3.2rem;
        border-color: rgba($offwhite, 0.4);
        color: $offwhite;
        &:hover, &:focus {
          background-color: $peach;
          color: $terblack;
        }
      }
    }
  }
}
